body{
    background-color: black;
}

#gora{
    position: relative;
    background-color: white;
    width:532px;
    height:20px;
    transition: height 2s 100ms;
    background-image: url("Gru.png");
    color: yellow;
    text-align: center;
}

#gora:hover{
    height: 946px;
}
