@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type: none;
}
body{
    background-color: black;
}

header{
    background-color: #C19A6B;
    text-align: center;
}
.nav_bomba{
    overflow: hidden;
    background-color: #ffffff;
}
.nav_bomba a{
    display: inline;
    float: right;
    color: #000000;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}
.nav_bomba a:hover{
    background-image: url(img/Rick.png);
}
.nav_bomba .uk .filmy{
    height: 0%;
    transition: 2s;
}
.nav_bomba .uk .wiecej{
    height: 0px;
    transition: 2s;
}
.nav_bomba .uk .gry{
    height: 0px;
    transition: 2s;
}
.nav_bomba .uk .filmy:hover{
    height: 500px;
}
.nav_bomba .uk .wiecej:hover{
    height: 500px;
}
.nav_bomba .uk .gry:hover{
    height: 500px;
}
.hero_image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/THEMOON.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 900px;
    width: 100%;
}
.hero_text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

